public/clinico/contacts.html
<!DOCTYPE html>
<html>
	<head>
		<title>CLINICO</title>
		
		<!-- metas -->
		<meta charset="utf-8">
		<meta name="author" content="http://themeforest.net/user/CreativeWS/portfolio">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<!--/ metas -->
		
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="css/layerslider.css">
		<link rel="stylesheet" type="text/css" href="css/fullwidth/skin.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/color-blue.css">
		<link rel="stylesheet" type="text/css" href="tuner/css/styles.css">
		
		<!--/ styles -->
		
		<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
	</head>
	
	<body>
		<div class="page">

			<!-- page header -->
			<header class="page-header main-page sticky">
				<div class="sticky-wrapp">
					<div class="sticky-container">
						<!-- logo -->
						<section id="logo" class="logo">
							<div>
								<a href="index.html"><img src="img/blue/logo.png" width="190" height="50" alt="Clinico"></a>
							</div>
						</section>
						<!--/ logo -->
						
						<!-- main nav -->
						<nav class="main-nav">
							<ul>
								<li>
									<a href="index.html"><i class="fa fa-plus"></i>Home</a>
									<ul>
										<li>
											<a href="index.html">Medical Style</a>
											<ul>
												<li class="text">
													<h2>Main Campus</h2>
													<hr>
													123 Fashion Avenue<br>New York, MO 265984
													<hr>
													203-284-2818<br>clinico@domain.com
													<a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
												</li>
											</ul>
										</li>
										<li><a href="home-news.html">News Style</a></li>
										<li><a href="wellness-home.html">Wellness Style</a></li>
										<li><a href="home-one-page.html">Home Alternative</a></li>
									</ul>
								</li>
								<li>
									<a href="services.html"><i class="fa fa-plus"></i>Services</a>
								</li>
								<li>
									<a href="timetable-week.html"><i class="fa fa-plus"></i>Timetable</a>
									<ul>
										<li><a href="timetable-month.html">Month View</a></li>
										<li><a href="timetable-week.html">Week View</a></li>
										<li><a href="timetable-list.html">List View</a></li>
									</ul>
								</li>
								<li>
									<a href="news-default.html"><i class="fa fa-plus"></i>News</a>
									<ul>
										<li><a href="news-four-columns.html">Four columns</a></li>
										<li><a href="news-three-columns.html">Three columns</a></li>
										<li><a href="news-two-columns.html">Two columns</a></li>
										<li><a href="news-full-width.html">Full width</a></li>
										<li><a href="news-blog-post.html">Blog post</a></li>
									</ul>
								</li>
								<li class="right">
									<a href="index.html"><i class="fa fa-plus"></i>Features</a>
									<ul>
										<li><a href="widgets.html">Various widgets</a></li>
										<li>
											<a href="#">Huge number of pages</a>
											<ul>
												<li><a href="about-us.html">About Us</a></li>
												<li><a href="locations.html">Locations</a></li>
												<li><a href="doctors.html">Our Doctors</a></li>
												<li><a href="full-width-page.html">Full-Width Page</a></li>
												<li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
												<li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
												<li><a href="page-404.html">404 Page</a></li>
												<li><a href="page-pricing-table.html">Pricing tables</a></li>
											</ul>
										</li>
										<li>
											<a href="feature-unlimited-color.html">Unlimited Color Variations</a>
										</li>
										<li><a href="responsive_and_retina_ready.html">Retina Ready & Responsive</a></li>
										<li><a href="features-accordion.html">Styled Content Items</a></li>
									</ul>
								</li>
								<li class="right">
									<a href="photo-gallery.html"><i class="fa fa-plus"></i>Photo Tour</a>
									<ul>
										<li>
											<a href="photo-four-filter.html">Four columns</a>
											<ul>
												<li><a href="photo-four-filter.html">With filter</a></li>
												<li><a href="photo-four.html">Without filter</a></li>
											</ul>
										</li>
										<li>
											<a href="photo-three-filter.html">Three columns</a>
											<ul>
												<li><a href="photo-three-filter.html">With filter</a></li>
												<li><a href="photo-three.html">Without filter</a></li>
											</ul>
										</li>
										<li>
											<a href="photo-two-filter.html">Two columns</a>
											<ul>
												<li><a href="photo-two-filter.html">With filter</a></li>
												<li><a href="photo-two.html">Without filter</a></li>
											</ul>
										</li>
										<li><a href="photo-one.html">One column</a></li>
										<li><a href="photo-single.html">Single item</a></li>
									</ul>
								</li>
								<li>
									<a href="contacts.html" class="active"><i class="fa fa-plus"></i>Contacts</a>
								</li>
							</ul>
						</nav>
						<!--/ main nav -->
						
						<!-- mobile nav -->
						<nav id="mobile-main-nav" class="mobile-main-nav">
							<i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
							<ul>
								<li>
									<i></i><a href="index.html" class="active">Home</a>
									<ul>
										<li>
											<i></i><a href="index.html">Medical Style</a>
											<ul>
												<li class="text">
													<h2>Main Campus</h2>
													<hr>
													<p>123 Fashion Avenue<br>New York, MO 265984</p>
													<hr>
													<p>203-284-2818<br>clinico@domain.com</p>
													<a href="#" class="more fa fa-angle-double-right"></a>
												</li>
											</ul>
										</li>
										<li><a href="home-news.html">News Style</a></li>
										<li><a href="wellness-home.html">Wellness Style</a></li>
										<li><a href="home-one-page.html">Home Alternative</a></li>
									</ul>
								</li>
								<li>
									<a href="services.html">Servives</a>
								</li>
								<li>
									<i></i><a href="timetable-week.html">Timetable</a>
									<ul>
										<li><a href="timetable-month.html">Month View</a></li>
										<li><a href="timetable-week.html">Week View</a></li>
										<li><a href="timetable-list.html">List View</a></li>
									</ul>
								</li>
								<li>
									<i></i><a href="news-default.html">News</a>
									<ul>
										<li><a href="news-four-columns.html">Four columns</a></li>
										<li><a href="news-three-columns.html">Three columns</a></li>
										<li><a href="news-two-columns.html">Two columns</a></li>
										<li><a href="news-full-width.html">Full width</a></li>
										<li><a href="news-blog-post.html">Blog post</a></li>
									</ul>
								</li>
								<li>
									<i></i><a href="index.html">Features</a>
									<ul>
										<li><a href="widgets.html">Various widgets</a></li>
										<li>
											<i></i><a href="#">Huge number of pages</a>
											<ul>
												<li><a href="about-us.html">About Us</a></li>
												<li><a href="locations.html">Locations</a></li>
												<li><a href="doctors.html">Our Doctors</a></li>
												<li><a href="full-width-page.html">Full-Width Page</a></li>
												<li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
												<li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
												<li><a href="page-404.html">404 Page</a></li>
												<li><a href="page-pricing-table.html">Pricing tables</a></li>
											</ul>
										</li>
										<li>
											<a href="feature-unlimited-color.html">Unlimited Color Variations</a>
										</li>
										<li><a href="responsive_and_retina_ready.html">Retina Ready & Responsive</a></li>
										<li><a href="features-accordion.html">Styled Content Items</a></li>
									</ul>
								</li>
								<li>
									<i></i><a href="photo-gallery.html">Photo Tour</a>
									<ul>
										<li>
											<i></i><a href="photo-four-filter.html">Four columns</a>
											<ul>
												<li><a href="photo-four-filter.html">With filter</a></li>
												<li><a href="photo-four.html">Without filter</a></li>
											</ul>
										</li>
										<li>
											<i></i><a href="photo-three-filter.html">Three columns</a>
											<ul>
												<li><a href="photo-three-filter.html">With filter</a></li>
												<li><a href="photo-three.html">Without filter</a></li>
											</ul>
										</li>
										<li>
											<i></i><a href="photo-two-filter.html">Two columns</a>
											<ul>
												<li><a href="photo-two-filter.html">With filter</a></li>
												<li><a href="photo-two.html">Without filter</a></li>
											</ul>
										</li>
										<li><a href="photo-one.html">One column</a></li>
										<li><a href="photo-single.html">Single item</a></li>
									</ul>
								</li>
								<li>
									<a href="contacts.html">Contacts</a>
								</li>
							</ul>
						</nav>
						<!--/ mobile nav -->
					</div>
				</div>
			</header>
			<!--/ page header -->
			
			<!-- quick search -->
			<form id="quick-search" class="quick-search">
				<fieldset>
					<legend>Quick Search:</legend>
					
					<input type="text" placeholder="Search by name" id="docname" name="docname" class="ui-autocomplete-input" autocomplete="off">
					
					<select>
						<option value="0">Speciality</option>
						<option value="1">Ophthomologist</option>
						<option value="2">Dermatologist</option>
						<option value="3">Neorologist</option>
						<option value="4">Surgeon</option>
					</select>
					
					<select>
						<option value="0">Locations</option>
						<option value="1">Primary Health Care</option>
						<option value="2">Gynaecological Clinic</option>
						<option value="3">Diagnosis With Precise</option>
						<option value="4">Cardiac Clinic</option>
						<option value="5">General Surgery</option>
					</select>
					
					<button type="submit">Search</button>
					<div class="switcher">
						<button id="quick-search-switcher" type="button">Find a doctor</button>
					</div>
				</fieldset>				
			</form>
			<!--/ quick search -->

			<!-- page title -->
			<section class="page-title">
				<div class="grid-row clearfix">
					<h1>Contacts</h1>
					
					<nav class="bread-crumbs">
						<a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
						<a href="#">Contacts</a>
					</nav>
				</div>
			</section>
			<!--/ page title -->
			
			<!-- page content -->
			<main class="page-content">
				<div class="grid-row">
					<!-- map -->
					<section class="map">
						<div class="widget-title">Our Locations</div>
						<div id="map" class="google-map"></div>
					</section>
					<!--/ map -->
				</div>
				
				<div class="grid-row">
					<div class="grid-col grid-col-9">
						<!-- feedback -->
						<article class="feedback">
							<div class="widget-title">Get in touch by filling the form below</div>
										
							<p>Donec lacinia suscipit magna, et pulvinar tortor facilisis quis. Donec tempor erat vel scelerisque posuere. Nam elementum elit eget tellus faucibus euismod. Aliquam turpis nibh, dictum eu consequat ac, facilisis eu elit. Pellentesque pellentesque orci quam, nec tempus nibh congue ut. Pellentesque tempus vehicula lectus eget tempor. Donec suscipit enim dui, ut sagittis orci rhoncus id.</p>
							
							<form action="php/contact-send.php" id="contactform">
								<fieldset>
									<div class="clearfix">
										<div class="input">
											<label>Your name:</label>
											<input type="text" name="name">
										</div>
										<div class="input">
											<label>Your email:</label>
											<input type="text" name="email">
										</div>
									</div>
									<div class="clearfix">
										<div class="input">
											<label>Category:</label>
											<input type="text" name="category">
										</div>
										<div class="input">
											<label>Subject:</label>
											<input type="text" name="subject">
										</div>
									</div>
									<label>Message:</label>
									<textarea rows="6" name="message"></textarea>
									<div class="clearfix captcha">
											<div class="captcha-wrapper">
												<iframe src="php/capcha.php" class="capcha-frame" name="capcha_image_frame" marginwidth="0" marginheight="0" frameborder="0"></iframe>

												<input class="verify" type="text" id="verify" name="verify" />
											</div>
											<button type="submit" class="button" value="Submit">Submit</button>
											
									</div>
								</fieldset>
							</form>							
						</article>
						<!--/ feedback -->
					</div>
					
					<div class="grid-col grid-col-3">						
						<!-- contacts -->
						<section class="widget widget-contacts">
							<div class="widget-title">Contact Details</div>
							<dl>
								<dt class="opened">Adolescent Gynecology</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>Breast Cancer Gene (BRCA)</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>Replacement Therapy</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>Diagnosis With Precise</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>STD Screening</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>Occupational Health</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
								<dt>Rhinosinusitis</dt>
								<dd>
									<ul>
										<li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
										<li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
										<li><i class="fa fa-envelope"></i>E-mail: clinico@domain.com</li>
									</ul>
								</dd>
							</dl>
						</section>
						<!--/ contacts -->
						
						<!-- follow -->
						<section class="widget widget-follow">
							<ul>
								<li><a href="#"><i class="fa fa-rss"></i>150<br>Subscribers</a></li>
								<li><a href="#"><i class="fa fa-facebook"></i>5560<br>Fans</a></li>
								<li><a href="#"><i class="fa fa-twitter"></i>2300<br>Followers</a></li>
							</ul>
						</section>
						<!--/ follow -->
					</div>
				</div>
			</main>
			<!--/ page content -->

			<!-- page footer -->
			<footer class="page-footer">
				<a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
				
				<div class="grid-row">
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt last-news">
							<div class="widget-icon"></div>
							<div class="widget-title">Clinico</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>
					
					<div class="grid-col grid-col-3">
						<!-- location -->
						<section class="widget-alt location">
							<div class="widget-icon"></div>
							<div class="widget-title">Location</div>
							<address>Address will be appear here, some details here City Name, Country.</address>
							<ul>
								<li><i class="fa fa-phone"></i>(907) 555-55555</li>
								<li><i class="fa fa-at">@</i>company@youremail.com</li>
								<li><i class="fa fa-skype"></i>Medical Skype Name</li>
							</ul>
							<nav>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-instagram"></a>
							</nav>
						</section>
						<!--/ location -->	
					</div>
					
					<div class="grid-col grid-col-3">
						<!-- last news -->
						<section class="widget-alt recent-posts">
							<div class="widget-icon"></div>
							<div class="widget-title">Recent Posts</div>
							<ul>
								<li>
									<a href="#"><img src="pic/post/1.png" width="80" height="80" alt=""></a>
									<p><a href="#">New study links lutein with eye health benefits, consectetur adipiscing</a><br>5 months ago</p>
								</li>
								<li>
									<a href="#"><img src="pic/post/2.png" width="80" height="80" alt=""></a>
									<p><a href="#">Pets may reduce risk of heart disease, et congue dolor heart</a><br>8 months ago</p>
								</li>
								<li>
									<a href="#"><img src="pic/post/3.png" width="80" height="80" alt=""></a>
									<p><a href="#">Discoveries offer a new explanation for diabetes, consectetur</a><br>10 months ago</p>
								</li>
							</ul>
						</section>
						<!--/ last news -->						
					</div>
					
					<div class="grid-col grid-col-3">
						<!-- work time -->
						<section class="widget-alt work-time">
							<div class="widget-icon"></div>
							<dl>
								<dt>Mon</dt>
								<dd>08:00 am - 12:00 pm</dd>
								<dt>Tue</dt>
								<dd>01:00 am - 05:00 pm</dd>
								<dt>Wed</dt>
								<dd>Free day</dd>
								<dt>Thu</dt>
								<dd>08:00 am - 12:00 pm</dd>
								<dt>Fri</dt>
								<dd>08:00 am - 12:00 pm</dd>
								<dt>Sat</dt>
								<dd>08:00 am - 12:00 pm</dd>
								<dt>Sun</dt>
								<dd>Free day</dd>
							</dl>
							<a href="#" class="button">Make an Appointment</a>
						</section>
						<!--/ work time -->							
					</div>
				</div>
			</footer>
			<!--/ page footer -->
			
			<!-- copyrights -->
			<div class="copyrights">Copyrights ©2014: Clinico - Responsive Medical and Health Template</div>
			<!--/ copyrights -->

		</div>
		
		<!-- scripts -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/jquery.migrate.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
		<script type="text/javascript" src="js/jquery.flot.js"></script>
		<script type="text/javascript" src="js/jquery.flot.pie.js"></script>
		<script type="text/javascript" src="js/jquery.flot.categories.js"></script>
		<script type="text/javascript" src="js/greensock.js"></script>
		<script type="text/javascript" src="js/layerslider.transitions.js"></script>
		<script type="text/javascript" src="js/layerslider.kreaturamedia.jquery.js"></script>

	<!-- Superscrollorama -->		
		<script type="text/javascript" src="js/jquery.superscrollorama.js"></script>
		<script type="text/javascript" src="js/TweenMax.min.js"></script>
		<script type="text/javascript" src="js/TimelineMax.min.js"></script>
	<!--/ Superscrollorama -->
	
		<script type="text/javascript" src="js/jquery.ui.core.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.widget.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.tabs.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-tabs-rotate.js"></script>
		<script type="text/javascript" src="js/jquery.ui.accordion.min.js"></script>
		<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<!-- EASYPIECHART -->
		<script type="text/javascript" src="js/jquery.easypiechart.js"></script>
	<!--/ EASYPIECHART -->
		<script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		<!--/ scripts -->
		
		<!-- tuner -->
		<script src="tuner/js/scripts.js"></script>
		<div id="tuner" class="tuner">
			<label>Theme Colors</label>
			<ul class="colors">
				<li data-color="blue" class="color-blue active"><span></span></li>
				<li data-color="green" class="color-green"><span></span></li>
				<li data-color="pink" class="color-pink"><span></span></li>
				<li data-color="cyan" class="color-cyan"><span></span></li>
				<li data-color="orange" class="color-orange"><span></span></li>
				<li data-color="purple" class="color-purple"><span></span></li>
			</ul>
			<label>Layout Styles</label>
			<ul class="layouts">
				<li data-layout="boxed">Boxed</li>
				<li data-layout="widescreen" class="active">Widescreen</li>
			</ul>
			<i id="tuner-switcher" class="fa fa-cogs"></i>
		</div>
		<!--/ tuner -->
		
	</body>
</html>

lib/views/contacts.jade
extends layout
block pageTitle
  section.page-title
    .grid-row.clearfix
      h1 LIÊN HỆ
block mainContent
  main.page-content
    .grid-row
      // map
      section.map
        .widget-title Địa chỉ: 10G3, Đường Nguyễn Thái Học, Phường xx, Thành Phố Vũng Tàu
        #map.google-map
      // / map
    .grid-row
      .grid-col.grid-col-9
        // feedback
        article.feedback
          .widget-title Phản hồi
          p
            | Chúng tôi luôn tìm cách để cải thiện dịch vụ và muốn nghe ý kiến từ bạn. Hãy cho chúng tôi biết bạn thích điều gì, không thích điều gì hoặc gặp những khó khăn nào.
          form#contactform(action="php/contact-send.php")
            fieldset
              .clearfix
                .input
                  label Họ tên:
                  input(type="text", name="name")
                .input
                  label Email:
                  input(type="text", name="email")
              .clearfix
                .input
                  label Số điện thoại:
                  input(type="text", name="phone")
                .input
                  label Tiêu đề:
                  input(type="text", name="subject")
              label Nội dung:
              textarea(rows="6", name="message")
              .clearfix.captcha

                button.button(type="submit", value="Submit") Gửi
        // / feedback
      .grid-col.grid-col-3
        // contacts
        section.widget.widget-contacts
          .widget-title Chi tiết
          dl
            dt.opened Nha Khoa Á  Châu
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 10G3, Nguyễn Thái Học, Phường x, Tp Vũng Tàu
                li
                  i.fa.fa-phone
                  | ĐT: 0909 xxx xxx
                li
                  i.fa.fa-envelope
                  | E-mail: xxxxx@domain.com
            dt Đối tác 1
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 365 Montauk Avenue
                li
                  i.fa.fa-phone
                  | Call us: 203-284-2818
                li
                  i.fa.fa-envelope
                  | E-mail: clinico@domain.com
            dt Cơ sở 2
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 365 Montauk Avenue
                li
                  i.fa.fa-phone
                  | Call us: 203-284-2818
                li
                  i.fa.fa-envelope
                  | E-mail: clinico@domain.com

        // / contacts
        // follow
        section.widget.widget-follow
          ul
            li
              a(href="#")
                i.fa.fa-rss
                | 150
                br
                | Subscribers
            li
              a(href="#")
                i.fa.fa-facebook
                | 5560
                br
                | Fans
            li
              a(href="#")
                i.fa.fa-twitter
                | 2300
                br
                | Followers
        // / follow
